#mypage-wrapper {
  max-width: 100%;
  background-color: #fff;
  .profile {
    display: grid;
    max-width: 70%;
    margin: 0 auto 20px;
    grid-template-rows: 50px 50p 50px;
    grid-template-columns: 120px 100px 4fr 1fr;
    a {
      text-decoration: none;
    }
    h3 {
      margin: 0;
    }

    .user-icon {
      grid-row: 1 / 4;
      grid-column: 1 / 2;

      img {
        width: 100px;
        height: 100px;
        padding: 5px;
        background-color: rgb(219, 219, 219);
        border-radius: 100%;
        margin: 20px 0 0 0;
      }
    }
    .user-name {
      margin: 25px 5px 10px 8px;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
    // プロフィール設定ボタン
    .edit {
      margin: 20px 5px 20px auto;
      grid-row: 1 / 2;
      grid-column: 4 / 5;
      button {
        width: 70px;
        height: 35px;
        border: 1px solid black;
        font-weight: bold;
        font-size: medium;
        background-color: #fff;
      }
    }
    .user-comment {
      grid-row: 2 / 3;
      grid-column: 2 / 5;
      max-width: 100%;
      margin: 0 5px 10px 5px;
    }
  }

  .topic-list-wrapper {
    height: 100vh;
    background-color: #eee;
    padding-bottom: 20px;
    // ブックマークボタン
    button {
      margin-bottom: 1px;
    }
    .topic-wrapper {
      background-color: #fff;
      margin: 10px auto;
      display: flex;
      border-bottom: 1px solid black;
      align-items: center;

      // トピックリストの左側にあるサイドメニュー
      .topic-side-menu {
        flex-shrink: 2;
        height: 100%;
        text-align: center;
        width: 200px;
        .number-of-response {
          padding: 0px 5px;
          color: #333;
          font-weight: bold;
        }

        .topic-is-active-false span {
          display: inline-block;
          // 締め切りのラベル
          padding: 1px 5px;
          margin-bottom: 5px;
          background-color: rgb(255, 212, 212);
          font-weight: bold;
          border-radius: 3px;
          color: rgb(231, 77, 77);
          margin-left: auto;
          margin-right: auto;
        }
        .topic-is-active-true span {
          display: inline-block;
          // 受付中のラベル
          padding: 1px 5px;
          margin-bottom: 5px;
          background-color: rgb(215, 223, 250);
          border-radius: 3px;
          color: rgb(56, 75, 247);
          font-weight: bold;
          margin-left: auto;
          margin-right: auto;
        }
      }
      // トピックリストの右側にあるメインメニュー
      .topic-main {
        flex-grow: 3;
        padding: 5px;
        background-color: white;
        // メインメニューの下に位置する部分
        .topic-main-bottom {
          // flex-wrap: wrap;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .topic-change-button {
            display: flex;
            justify-content: space-between;
          }
          button {
            margin: 0 20px 0 0px;
          }
          .topic-info {
            .sender-name {
              margin-right: 20px;
            }
            .post-date {
              display: inline-block;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
