#topic-detail-wrapper {
  height: 100%;
  background-color: #eee;
  // テキストの改行を反映する
  white-space: pre-wrap;
  word-wrap: break-word;
  .topic-detail-main {
    max-width: 720px;
    margin: 5px auto;
  }
  .topic-wrapper {
    background-color: white;
    padding-bottom: 20px;
    .topic-info {
      .topic-status {
        padding: 15px 10px 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        /* トピック：回答受付中*/
        .topic-not-active {
          padding: 1px 5px 1px 5px;
          margin: 0 20px 5px 0;
          background-color: rgb(255, 212, 212);
          font-weight: bold;
          border-radius: 3px;
          color: rgb(231, 77, 77);
        }
        // トピック回答締め切り
        .topic-active {
          padding: 1px 5px 1px 5px;
          margin: 0 20px 5px 0;
          background-color: rgb(215, 223, 250);
          border-radius: 3px;
          color: rgb(56, 75, 247);
          font-weight: bold;
        }
        .topic-post-username {
          margin-right: 10px;
        }
      }
    }
    .topic-title-wrapper {
      padding: 20px;
    }
    .topic-content-wrapper {
      padding: 0 20px;
      margin: 0 auto;
      .topic-content {
      }
      .bookmark {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  // トピックへの回答に関するスタイル
  .topic-response-wrapper {
    background-color: #fff;
    padding: 10px 10px 0 10px;
    margin: 30px 0 10px 0;
    .topic-response-info {
      padding: 0px 10px;

      .number-of-response {
        padding: 0px 10px;
        color: #333;
        font-weight: bold;
      }
    }
    #response-main-wrapper {
      margin: 10px;
      .each-response-wrapper {
        margin: 5px;
        padding: 10px;
        .content {
          margin-bottom: 10px;
        }
        .response-username {
          margin-right: 5px;
        }
        .response-info {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    .dialog-buttons {
      display: flex;
      justify-content: flex-end;
      margin: 5px 0px;
    }
  }
}
