.topic-list-wrapper {
  max-width: 100%;

  .topic-wrapper {
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;

    // トピックリストの左側にあるサイドメニュー
    .topic-side-menu {
      flex-shrink: 2;
      height: 100%;
      text-align: center;
      width: 200px;
      .number-of-response {
        padding: 0px 5px;
        color: #333;
        font-weight: bold;
      }

      .topic-is-active-false span {
        display: inline-block;
        // 締め切りのラベル
        padding: 1px 5px;
        margin-bottom: 5px;
        background-color: rgb(255, 212, 212);
        font-weight: bold;
        border-radius: 3px;
        color: rgb(231, 77, 77);
        margin-left: auto;
        margin-right: auto;
      }
      .topic-is-active-true span {
        display: inline-block;
        // 受付中のラベル
        padding: 1px 5px;
        margin-bottom: 5px;
        background-color: rgb(215, 223, 250);
        border-radius: 3px;
        color: rgb(56, 75, 247);
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
      }
    }
    // トピックリストの右側にあるメインメニュー
    .topic-main {
      flex-grow: 3;
      background-color: white;
      .topic-title {
        padding-bottom: 5px;
      }
      // メインメニューの下に位置する部分
      .topic-main-bottom {
        // flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .topic-change-button {
          display: flex;
          justify-content: space-between;
        }
        button {
          margin: 0 20px 0 0px;
        }
        .topic-info {
          .sender-name {
            margin-right: 20px;
          }
          .post-date {
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
