.topic-title-wrapper {
  background-color: whitesmoke;
padding: 20px;
}
/* トピック：回答受付中もしくは回答締め切り */
.topic-status {
  padding: 10px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.topic-post-username {
  padding-right: 5px;
}
.topic-is-active {
  outline: solid 0.5px black;
  padding: 0px 5px;
  margin-right: 10px;
}

.topic-content-wrapper {
  padding: 5px;
}
/* トピックの回答の件数 */
.number-of-response {
  padding: 0px 5px;
  color: violet;
}
.topic-response-main-content {
  padding-bottom: 40px;
}
.topic-response-status {
  display: flex;
  justify-content: flex-end;
}

.dialog-buttons {
    display: flex;
    justify-content: flex-end;
margin: 5px 0px;
}