<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/bundle/main.js" async></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
hello
    <div id="lesson-plan"></div>
  </body>
</html>
