<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/bundle/topicList.js" async></script>
  </head>
  <body>
    <div id="navbar"></div>
    <div id="topic-detail">
        detail
    </div>
  </body>
</html>
